@import url(./reponsive.css);
@import url(styles/header.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
    --Cor_Preto: #000000;
    --Cor_Branco: #FFFFFF;
    --Cor_RosaPrinciapal_Normal: #FA61EB;
    --CorFonte_RosaSecundario_Normal: #C775BF;
    --Cor_RosaPrinciapal_Dark: #BC49B0;
    --Cor_RosaPrinciapal_DarkHover: #963A8D;
    --Cor_RosaPrinciapal_DarkActive:#702C6A;
    --Cor_RosaPrinciapal_Darker: #582252;
    --Cor_RosaPrinciapal_LightHover: #FEE7FC;
    --Cor_RosaPrinciapal_LightActive: #FDCEF9;
}

*{
    font-family: 'Poppins';
}

@media (min-width: 1440px){
    .header{
        justify-content:space-between;
    }
    .header__menu{
        display: none;
    }

    .header__topicos{
        display: flex;
        position: relative;
        top: 0;
        padding: 0;
    }

    .header__topicos__itens{
        flex-direction: row;
        gap: 1.56rem;
        align-items: center;
    }

    .header__buttonAgendamento{
        display: flex;
        margin-right: 3.06rem;
    }

    .header__topicos__itens__buttonAgendamento{
        display: none;
    }
}

.section1{
    background-image: url(img/SectionMobile1_Background.svg);  
    max-height: 90dvh;
    background-repeat: no-repeat;
}

.section1__conteiner{
    display: flex;
    flex-direction: column;
    padding: 18.88px 24.96px 81.92px 24.96px;
    align-items: center;
}

.section1__conteiner__texts{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.section1__conteiner__imagemPrincipal{
    display: flex;
    width: 297.92px;
    height: 268.64px
}

.section1__conteiner__tituloPrincipalSEO{
    color: var(--CorFonte_RosaSecundario_Normal);
    font-size: 13.44px;
    font-weight: 700;
    margin-top: 49.28px;
}

.section1__conteiner__tituloPrincipal{
    margin: 9.92px 0px 9.92px 0px;
    color: var(--Cor_RosaPrinciapal_Darker);
    font-size: 24px;
    font-weight:800;
}

.section1__conteiner__procedimentos{
    color: var(--CorFonte_RosaSecundario_Normal);
    font-size: 12px;
    font-weight:400;
    margin-bottom: 49.92px;
}

.section1__conteiner__buttons{
    display: flex;
    gap: 60px;
}

.section1__conteiner__buttons__botaoWhatsapp{
    display: flex;
    background-color: var(--Cor_RosaPrinciapal_Normal);
    width: 144.96px;
    height: 48.48px;
    align-items:center;
    justify-content: center;
    gap: 9.92px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--Cor_Branco);
}

.section1__conteiner__buttons__botaoSobreMim{
    display: flex;
    background-color: var(--Cor_RosaPrinciapal_Normal);
    width: 144.96px;
    height: 48.48px;
    align-items: center;
    justify-content: center;
    gap: 9.92;
    border-radius: 10px;
    text-decoration: none;
    color: var(--Cor_Branco);
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/SectionMobile2_Background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: solid 1px var(--Cor_RosaPrinciapal_Darker);
}

.section2__tituloPrincipal{
    color: var(--Cor_RosaPrinciapal_Dark);
    font-weight: bold;
    font-size: 24.96px;
    padding: 9.92px 0px 29.92px 0px;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 304px;
    height: 430px;
    border: solid 1px var(--Cor_RosaPrinciapal_Normal);
    padding: 9.92px 9.92px 20px 9.92px;
    border-radius: 10px;
    background-color: var(--Cor_RosaPrinciapal_LightActive);
    margin-left: 1rem;
    margin-right: 0.93rem;
    scroll-snap-align: center;
}

.card__imagem{
    width: 18.75em;
}

.card__titulo{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 800;
    color: var(--Cor_RosaPrinciapal_Dark);
}

.card__paragrafo{
    display: flex;
    text-justify:center;
    font-size: 14px;
    font-weight: 500;
    color: var(--Cor_RosaPrinciapal_Darker);
    margin: 30px 5px 15px 5px;
    
}

.section2__carrosel{
    display: flex;
    width: 100%;
    overflow: hidden;
    scroll-snap-type: center;
}

.section2__carrosel__conteiner{
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  gap: 20vw;           
  padding: 0px 20vw 0px 7vw; 
  scrollbar-width: none;
}

.section2__button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: solid 1px var(--Cor_RosaPrinciapal_Normal);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin-top: 4rem;
    margin-bottom: 3.5rem;
    background-color: var(--Cor_RosaPrinciapal_Normal);
    text-decoration: none;
    color: var(--Cor_Branco);
    font-weight: 600;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.section2__button:hover{
    transform: scale(2px);
}

.section2__button__imagem{
    width: 41px;
    height: 44px;
}

.section2__setas{
    position: relative;
    top: 10px;
}



