@import url(./reponsive.css);
@import url(styles/header.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
    --Cor_Preto: #000000;
    --Cor_Branco: #FFFFFF;
    --Cor_RosaPrinciapal_Normal: #FA61EB;
    --CorFonte_RosaSecundario_Normal: #C775BF;
    --Cor_RosaPrinciapal_Dark: #BC49B0;
    --Cor_RosaPrinciapal_DarkHover: #963A8D;
    --Cor_RosaPrinciapal_DarkActive:#702C6A;
    --Cor_RosaPrinciapal_Darker: #582252;
    --Cor_RosaPrinciapal_LightHover: #FEE7FC;
    --Cor_RosaPrinciapal_LightActive: #FDCEF9;
}

*{
    font-family: 'Poppins';
}

@media (min-width: 1440px){
    .header{
        justify-content:space-between;
    }
    .header__menu{
        display: none;
    }

    .header__topicos{
        display: flex;
        position: relative;
        top: 0;
        padding: 0;
    }

    .header__topicos__itens{
        flex-direction: row;
        gap: 1.56rem;
        align-items: center;
    }

    .header__buttonAgendamento{
        display: flex;
        margin-right: 3.06rem;
    }

    .header__topicos__itens__buttonAgendamento{
        display: none;
    }
}

.section1{
    background-image: url(img/SectionMobile1_Background.svg);  
    height: 90dvh;
    background-repeat: no-repeat;
}

.section1__conteiner{
    display: flex;
    flex-direction: column;
    padding: 1.18rem 1.56rem 5.12rem 1.56rem;
    align-items: center;
}

.section1__conteiner__texts{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.section1__conteiner__imagemPrincipal{
    display: flex;
    width: 18.62rem;
    height: 16.79rem;
}

.section1__conteiner__tituloPrincipalSEO{
    color: var(--CorFonte_RosaSecundario_Normal);
    font-size: 0.84rem;
    font-weight: 700;
    margin-top: 3.08rem;
}

.section1__conteiner__tituloPrincipal{
    margin: 0.62rem 0px 0.62rem 0px;
    color: var(--Cor_RosaPrinciapal_Darker);
    font-size: 1.5rem;
    font-weight:800;
}

.section1__conteiner__procedimentos{
    color: var(--CorFonte_RosaSecundario_Normal);
    font-size: 0.75rem;
    font-weight:400;
    margin-bottom: 3.12rem;
}

.section1__conteiner__buttons{
    display: flex;
    gap: 3.75rem;
}

.section1__conteiner__buttons__botaoWhatsapp{
    display: flex;
    background-color: var(--Cor_RosaPrinciapal_Normal);
    width: 9.06em;
    height: 3.03em;
    align-items:center;
    justify-content: center;
    gap: 0.62rem;
    border-radius: 0.62rem;
    text-decoration: none;
    color: var(--Cor_Branco);
}

.section1__conteiner__buttons__botaoSobreMim{
    display: flex;
    background-color: var(--Cor_RosaPrinciapal_Normal);
    width: 9.06em;
    height: 3.03em;
    align-items: center;
    justify-content: center;
    gap: 0.62rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--Cor_Branco);
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/SectionMobile2_Background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: solid 1px var(--Cor_RosaPrinciapal_Darker);
}

.section2__tituloPrincipal{
    color: var(--Cor_RosaPrinciapal_Dark);
    font-weight: bold;
    font-size: 1.56rem;
    padding: 0.62rem 0rem 1.87rem 0rem;
}

.card1{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 19em;
    height: 28.12em;
    border: solid 1px var(--Cor_RosaPrinciapal_Normal);
    padding: 0.62rem 0.62rem 1.25rem 0.62rem;
    border-radius: 10px;
    background-color: var(--Cor_RosaPrinciapal_LightActive);
}

.card1__imagem{
    width: 18.75em;
}

.card1__titulo{
    padding-top: 0.62rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--Cor_RosaPrinciapal_Dark);
}

.card1__paragrafo{
    display: flex;
    text-justify:center;
    font-size: 0.93rem;
    font-weight: 500;
    color: var(--Cor_RosaPrinciapal_Darker);
    padding: 1.56rem ;
}

